<!-- <div>
    <select ng-model="row.entity.userScore" data-ng-options="d as d.type for d in grid.appScope.sentiments" ng-update="update(row.entity.userScore)">
        <option value="" selected disabled>Choose Sentiment</option>
    </select>
</div> -->

<!-- <tr ng-repeat="sentiment in sentiments">
    <td ng-class="{'success':sentiment.isupdated}">
    <input type="radio" name="radio-primary" ng-model="sentiment.name" ng-checked="" ng-change="UpdatePrimary(sentiment)">
</tr> -->

<!-- <div> -->
    <input type="radio" ng-model="row.entity.userScore" data-ng-options="d as d.type for d in grid.appScope.sentiments" ng-update="update(row.entity.userScore)">
        <!-- <option value="" selected disabled>Choose Sentiment</option> -->
    </input>
<!-- </div> -->